{% extends 'bailti/base.html' %}

   {% block content %}

   <div class="container mx-auto px-4 ">
      <div class="flex justify-between items-center py-5 border-blue-100 border-b-1 shadow-xs bg-white p-5 rounded-lg my-4">
         <div class="mes-proprietes ">
            <h2 class="text-5xl font-bold my-4">Locations</h2>
            <p class="text-xl">Gérer les locations</p>
         </div>
         <div class="btn-add-propriete">
            <a href="{% url 'location_create' %} " class="bg-indigo-500 hover:bg-indigo-400 text-white font-bold py-2 px-4 rounded">
               <i class="fa fa-plus"></i>
               Ajouter une location
            </a>
         </div>
      </div>

      <div class="flex mt-8 mb-4 bg-white search-bar gap-4 items-center border border-blue-100 rounded-2xl shadow-2xl w-1/2 p-5 text-xl focus-within:border-blue-300 focus-within:border-6" >
         <i class="fa fa-search"></i>
         <input type="text" class="border-none focus:border-none focus:outline-none focus:ring-0 w-full" placeholder="rechercher une proprieté à louer...">
      </div>





    <div class="relative overflow-x-auto bg-white shadow-md sm:rounded-2xl py-6 my-10">
        <table class="w-full text-sm text-left bg-white rtl:text-right py-8">
            <thead class="text-lg uppercase bg-sky-200 ">
                <tr>
                    <th scope="col" class="px-6 py-6">
                        Identifiant
                    </th>
                    <th scope="col" class="px-6 py-6">
                        Bien
                    </th>
                    <th scope="col" class="px-6 py-6">
                        Locataire
                    </th>
                    <th scope="col" class="px-6 py-6">
                        Loyer
                    </th>
                    <th scope="col" class="px-6 py-6">
                        Date de début
                    </th>
                     <th scope="col" class="px-6 py-6">
                        Date de Fin
                    </th>

                    <th scope="col" class="px-6 py-6">
                        <span class="sr-only">Edit</span>
                    </th>
                </tr>
            </thead>
            <tbody class="text-lg">
               {% for location in locations%}

                  <tr class="bg-white border-b border-gray-100 hover:bg-neutral-200 p-3">
                     <td class="px-6 py-5s" >
                           {{ location.identifiant }}
                     </td>
                     <td class="px-6 py-5">
                           {{ location.property }}
                     </td>
                     <td class="px-6 py-5">
                           {{ location.locataire }}
                     </td>
                     <td class="px-6 py-5">
                        {{ location.loyer }}
                     </td>
                     <td class="px-6 py-5">
                           {{ location.date_debut |date:"Y-m-d" }}
                     </td>
                     <td class="px-6 py-5">
                           {{ location.date_fin |date:"Y-m-d" }}
                     </td>


                     <td class="px-6 py-5 flex justify-center gap-2">
                        <a href="#" class="font-medium   hover:underline"><i class="fa fa-eye"></i></a>
                        <a href="{% url 'location_edit' location.id %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline"><i class="fa fa-edit"></i></a>
                        <a href="{% url 'location_delete' location.id %}" class="font-medium text-red-600  hover:underline"><i class="fa fa-trash"></i></a>
                     </td>
                  </tr>
               {% endfor %}
               
            </tbody>
        </table>
    </div>



      <div class="grid grid-cols-2 md:grid-cols-3 gap-4 py-8">


      </div>

   </div>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

   <script>
      $(document).ready(function(){
         toastr.options = {"timeOut": "3000", "positionClass": "toast-top-right"}
         console.log('toastr ready')

         {% if messages %}
            console.log('messages exist')
            {% for message in messages %}
            console.log('messages tesssss')
            console.log("{{message}}")
                       toastr["{{ message.tags|default:'info' }}"](
                "{{ message|escapejs }}"
            );
            {% endfor %}
         {% endif %}


      })
   </script>

    {% endblock %}