{% extends 'bailti/base.html' %}

   {% block content %}

   <div class="container mx-auto px-4 ">
      <div class="flex justify-between items-center py-5">
         <div class="mes-proprietes ">
            <h2 class="text-5xl font-bold my-4">Locations</h2>
            <p class="text-xl">Gérez vos locations et les contrats</p>
         </div>

      </div>

      <div class="flex mt-8 mb-4 bg-white search-bar gap-4 items-center border border-blue-100 rounded-2xl shadow-2xl w-1/2 p-5 text-xl focus-within:border-blue-300 focus-within:border-6" >
         <i class="fa fa-search"></i>
         <input type="text" class="border-none focus:border-none focus:outline-none focus:ring-0 w-full" placeholder="rechercher une proprieté à louer...">
      </div>





    <div class="relative overflow-x-auto bg-white shadow-md sm:rounded-2xl py-6 my-10">
        <table class="w-full text-sm text-left bg-white rtl:text-right py-8">
            <thead class="text-lg uppercase bg-sky-50 ">
                <tr>
                    <th scope="col" class="px-6 py-6">
                        Product name
                    </th>
                    <th scope="col" class="px-6 py-6">
                        Color
                    </th>
                    <th scope="col" class="px-6 py-6">
                        Category
                    </th>
                    <th scope="col" class="px-6 py-6">
                        Price
                    </th>
                    <th scope="col" class="px-6 py-6">
                        <span class="sr-only">Edit</span>
                    </th>
                </tr>
            </thead>
            <tbody class="text-lg">
                <tr class="bg-white border-b border-gray-100 hover:bg-neutral-100 p-3">
                    <th scope="row" class="px-6 py-5 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Apple MacBook Pro 17"
                    </th>
                    <td class="px-6 py-5">
                        Silver
                    </td>
                    <td class="px-6 py-5">
                        Laptop
                    </td>
                    <td class="px-6 py-5">
                        $2999
                    </td>
                    <td class="px-6 py-5 text-right">
                        <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                    </td>
                </tr>
                <tr class="bg-white border-b  border-gray-100 hover:bg-neutral-100 ">
                    <th scope="row" class="px-6 py-5 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Microsoft Surface Pro
                    </th>
                    <td class="px-6 py-5">
                        White
                    </td>
                    <td class="px-6 py-5">
                        Laptop PC
                    </td>
                    <td class="px-6 py-5">
                        $1999
                    </td>
                    <td class="px-6 py-5 text-right">
                        <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                    </td>
                </tr>
                <tr class="bg-white hover:bg-neutral-100 ">
                    <th scope="row" class="px-6 py-5 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Magic Mouse 2
                    </th>
                    <td class="px-6 py-5">
                        Black
                    </td>
                    <td class="px-6 py-5">
                        Accessories
                    </td>
                    <td class="px-6 py-5">
                        $99
                    </td>
                    <td class="px-6 py-5 text-right">
                        <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>



      <div class="grid grid-cols-2 md:grid-cols-3 gap-4 py-8">


      </div>

   </div>
    {% endblock %}