<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
 <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>
<body class="bg-gray-100 text-sm">
    <div class="flex justify-center items-center pt-20">
        <div class="col-5  bg-white shadow-2xl rounded-xl p-8">
            <h1 class="text-3xl font-bold mb-6 flex justify-between">
                Créer un compte
                <img src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company" class="mx-2 h-10 w-auto" />
            </h1>
            <form method="POST" class="mt-3">
            {% csrf_token %}

                <div class="space-y-12">
 
                    <div class="border-b border-gray-900/10 pb-12">
                    <h2 class="text-base/7 font-semibold text-gray-900">Bonjour!</h2>
                    <p class="mt-1 text-base/6 text-gray-600"> Connectez-vous pour découvrir toutes nos fonctionnalités.</p>

                    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                        <div class="sm:col-span-3">
                        <label for="first-name" class="block text-base/6 font-medium text-gray-900">First name</label>
                        <div class="mt-2">
                            {{ form.nom }}
                            {% if form.nom.errors %}
                                <p class="text-red-500 text-xs mt-1">{{ form.nom.errors }}</p>
                            {% endif %}
                        </div>
                        </div>

                        <div class="sm:col-span-3">
                        <label for="last-name" class="block text-base/6 font-medium text-gray-900">Last name</label>
                        <div class="mt-2">
                            {{ form.prenom }}
                            {% if form.prenom.errors %}
                                <p class="text-red-500 text-xs mt-1">{{ form.prenom.errors }}</p>
                            {% endif %}
                        </div>
                        </div>

                        <div class="sm:col-span-3">
                        <label for="email" class="block text-base/6 font-medium text-gray-900">Email address</label>
                        <div class="mt-2">
                            {{ form.email }}
                            {% if form.email.errors %}
                                <p class="text-red-500 text-xs mt-1">{{ form.email.errors }}</p>
                            {% endif %}
                        </div>
                        </div>
                        <div class="sm:col-span-3">
                        <label for="email" class="block text-base/6 font-medium text-gray-900">password</label>
                        <div class="mt-2">
                            {{ form.password }}
                            {% if form.password.errors %}
                                <p class="text-red-500 text-xs mt-1">{{ form.password.errors }}</p>
                            {% endif %}
                        </div>
                        </div>


                        <div class="sm:col-span-3">
                        <label for="last-name" class="block text-base/6 font-medium text-gray-900">Date de naissance</label>
                        <div class="mt-2">
                            {{ form.date_naissance }}
                            {% if form.date_naissance.errors %}
                                <p class="text-red-500 text-xs mt-1">{{ form.date_naissance.errors }}</p>
                            {% endif %}
                        </div>
                        </div>

                        <div class="sm:col-span-3">
                        <label for="last-name" class="block text-base/6 font-medium text-gray-900">Lieu de naissance</label>
                        <div class="mt-2">
                            {{ form.lieu_naissance }}
                            {% if form.lieu_naissance.errors %}
                                <p class="text-red-500 text-xs mt-1">{{ form.lieu_naissance.errors }}</p>
                            {% endif %}
                        </div>
                        </div>

                        <div class="sm:col-span-3">
                        <label for="last-name" class="block text-base/6 font-medium text-gray-900">Sex</label>
                        <div class="mt-2">
                            {{ form.sex }}
                            {% if form.sex.errors %}
                                <p class="text-red-500 text-xs mt-1">{{ form.sex.errors }}</p>
                            {% endif %}
                        </div>
                        </div>

                        <div class="sm:col-span-3">
                        <label for="last-name" class="block text-base/6 font-medium text-gray-900">Télephone</label>
                        <div class="mt-2">
                            {{ form.phone }}
                            {% if form.phone.errors %}
                                <p class="text-red-500 text-xs mt-1">{{ form.phone.errors }}</p>
                            {% endif %}
                        </div>
                        </div>


                        <div class="sm:col-span-2 sm:col-start-1">
                        <label for="city" class="block text-base/6 font-medium text-gray-900">City</label>
                        <div class="mt-2">
                            {{ form.city }}
                            {% if form.city.errors %}
                                <p class="text-red-500 text-xs mt-1">{{ form.city.errors }}</p>
                            {% endif %}
                        </div>
                        </div>

                        <div class="sm:col-span-2">
                        <label for="region" class="block text-base/6 font-medium text-gray-900">State / Province</label>
                        <div class="mt-2">
                            {{ form.province }}
                            {% if form.province.errors %}
                                <p class="text-red-500 text-xs mt-1">{{ form.province.errors }}</p>
                            {% endif %}
                         </div>
                        </div>

                        <div class="sm:col-span-2">
                        <label for="postal-code" class="block text-base/6 font-medium text-gray-900">ZIP / Postal code</label>
                        <div class="mt-2">
                            {{ form.postal_code }}
                            {% if form.postal_code.errors %}
                                <p class="text-red-500 text-xs mt-1">{{ form.postal_code.errors }}</p>
                            {% endif %}
                         </div>
                        </div>
                        {{ form.role }}

                    </div>
                    </div>

                </div>

                <div class="mt-6 flex items-center justify-end gap-x-6">
                    <button type="button" class="text-base/6 font-semibold text-gray-900">Cancel</button>
                    <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-base font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
                </div>
                <p class="mt-10 text-center text-base/6 text-gray-500">
                déjà un compte?
                <a href="/user/login" class="font-semibold text-indigo-600 hover:text-indigo-500">Login</a>
                </p>
            </form>

           <!-- <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">S'inscrire</button>
            </form>
            <a href="{% url 'login' %}">Déjà un compte ? Connecte-toi</a>-->
        </div>
    </div>
</body>
</html>